{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Rentoid - Login{% endblock %}

{% block page_content %}
<div class="container" style="width: 600px;">
    <div class="page-header">
        <h1>Login</h1>
    </div>
    <div class="col-md-8">
        {{ wtf.quick_form(form)}}
    </div>
    <div class="col-md-3">
        <p>
            New user?
            <a href="{{ url_for('auth.register') }}">
                Click here to register
            </a>
        </p>
    </div>
</div>
{% endblock %}