{% extends "base.html" %}

{% block title %}All Flats{% endblock %}

{% block page_content %}
<div class="container">
    <h1 class="page-header">All Flats</h1>
    <ul>
        {% for flat in flats %}
        <ul class="posts">
            <li class="post">
                <div class="post-body">
                    <strong>ID: </strong>{{ flat.id }} <br>
                    <strong>Price: </strong>{{ flat.price }} <br>
                    <strong>SQM: </strong>{{ flat.sqm }} <br>
                    <strong>Location: </strong>{{ flat.location }} 
                </div>
                <div>
                    <a href="{{ url_for('.flat', flat_id=flat.id) }}">More details</a>
                </div>
            </li>
        </ul>
        {% endfor %}
    </ul>

</div>
{% endblock %}
