{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flat {{ flat.id }}{% endblock %}

{% block page_content %}

<div class="container">
    <h1 class="page-header">Flat #{{ flat.id }} Details</h1>
    <div class="container col-md-6">
        <h3>Advert:</h3>
        {{ flat.text }}
        {{ wtf.quick_form(form)}}
        {% if summary is not none %}
            <h3>Summary</h3>
            {{ summary }}
        {% else %}
        {% endif %}

    </div>
    <div class="container col-md-6">
        <h3>Price:</h3>
        {{ flat.price }}
        <h3>Location:</h3>
        {{ flat.location }}
        <h3>SQM:</h3>
        {{ flat.sqm }}
        <h3>
            <a href="{{ flat.link}}">Go to the listing website</a>
        </h3>
    </div>

    <div class="container col-md-12">
        <h2>User Ratings</h2>
        {% for rating in ratings %}
            <ul class="posts">
                <li class="post">
                    <div class="post-body">
                        <strong> {{ rating.get_author() }} </strong> <br>
                        {{ rating.rating }}
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>
</div>



{% endblock %}