{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flat {{ flat.id }}{% endblock %}

{% block page_content %}

<div class="container">
    <h1 class="page-header">Flat #{{ flat.id }} Details</h1>
    <div class="container col-md-4">
        <h3>Advert:</h3>

        {% if flat.text %}
        {% autoescape false %}
        {{ flat.text.replace('\n', '<br>') }}
        {% endautoescape %}
        {% else %}
        {% endif %}
    </div>

    <div class="container col-md-4">
        <h3>Summary</h3>
        {{ wtf.quick_form(form)}}

        {% if summary is not none %}
            {% if summary %}
            {% autoescape false %}
            {{ summary.replace('\n', '<br>') }}
            {% endautoescape %}
            {% else %}
            {% endif %}
        {% else %}
        {% endif %}
    </div>

    <div class="container col-md-4">
        <h3>Price:</h3>
        {{ flat.price }}
        <h3>Location:</h3>
        {{ flat.location }}
        <h3>SQM:</h3>
        {{ flat.sqm }}
        <h3>
            <a href="{{ flat.link }}" target="_blank">Go to the listing website</a>
        </h3>

        <div class="container">
            {% if current_user.has_liked_flat(flat) %}
            <h3>
                <a href="{{ url_for('main.like_action', flat_id=flat.id, action='unlike') }}">Remove from favourites</a>
            </h3>
            {% else %}
            <h3>
                <a href="{{ url_for('main.like_action', flat_id=flat.id, action='like') }}">Save to favourites</a>
            </h3>
            {% endif %}
        </div>
    </div>

    <div class="container col-md-12">
        <h2>
            {% if avg_rating is not none %}
            User Ratings - AVG: {{ avg_rating }} 
            {% else %}
            No ratings yet
            {% endif %}
        </h2>
        {% for rating in ratings %}
            <ul class="posts">
                <li class="post">
                    <div class="post-body">
                        <strong> {{ rating.get_author() }} </strong> <br>
                        {{ rating.rating }}
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>
</div>



{% endblock %}