{% extends "base.html" %}

{% block title %}Rentoid{% endblock %}

{% block page_content %}
<div class="container">

<h1 class="page-header"> Hello,
{% if current_user.is_authenticated %}
    {{ current_user.username }}!
{% else %}
    Stranger!
{% endif %}
</h1>
</div>

<div class="container">
<div class="container col-md-6">
    <h1>Favourite Flats</h1>
    {% if current_user.is_authenticated %}
        {% if liked_flats is defined and liked_flats[0] %}
            {% for liked_flat in liked_flats %}
            <ul class="posts">
                <li class="post">
                    <div class="post-body">
                        <strong>ID: </strong>{{ liked_flat.id }} <br>
                        <strong>Price: </strong>{{ liked_flat.price }} <br>
                        <strong>SQM: </strong>{{ liked_flat.sqm }} <br>
                        <strong>Location: </strong>{{ liked_flat.location }} 
                    </div>
                    <div>
                        <a href="{{ url_for('flats.flat', flat_id=liked_flat.id) }}">More details</a>
                    </div>
                </li>

            </ul>
            {% endfor %}
        {% else %}
        <p> You don't have any favourite flats.</p>
        {% endif %}
    {% else %}
        Login to see your favourite flats.
    {% endif %}

</div>
<div class="container col-md-6">
    <h1>Rated flats</h1>
    {% if current_user.is_authenticated %}
        {% if rated_flats is defined and rated_flats[0] %}
            {% for rated_flat in rated_flats %}
            <ul class="posts">
                <li class="post">
                    <div class="post-body">
                        <strong>ID: </strong>{{ rated_flat.id }} <br>
                        <strong>Price: </strong>{{ rated_flat.price }}  <br>
                        <strong>SQM: </strong>{{ rated_flat.sqm }}  <br>
                        <strong>Location: </strong>{{ rated_flat.location }} <br>
                    </div>
                    <div>
                        <a href="{{ url_for('flats.flat', flat_id=rated_flat.id) }}">More details</a>
                    </div>
                </li>

            </ul>
            {% endfor %}
        {% else %}
        <p> You don't have any rated flats.</p>
        {% endif %}
    {% else %}
        Login to see your rated flats.
    {% endif %}
    
    </div>
</div>

{% endblock %}